@import "mixin.scss";
@import "variables.scss";

// THE COMMON

@media (min-width: 1024px) and (max-width: 1239px) {
	.wide .col {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (min-width: 841px) and (max-width: 1023px) {
	.col {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (min-width: 441px) and (max-width: 739px) {
	.c-12 {
		flex: 0 0 90%;
		max-width: 90%;
	}

	.row {
		justify-content: center;
	}
}

@media (max-width: 440px) {
	.row {
		justify-content: center;
	}

	.c-12 {
		flex: 0 0 92%;
		max-width: 92%;
	}
}

// -------------------Header-------------------

.header {
	@media (min-width: 1024px) and (max-width: 1239px) {
		&__btn {
			display: none;
		}
	}

	@media (max-width: 1023px) {
		background-color: transparent;
		position: absolute;
		&__btn {
			display: none;
		}

		&__navbar-menu {
			display: none;
		}

		&__menubar {
			display: none;
		}

		&__rightSidebar {
			display: block;
		}
	}
}

// -------------------Container----------------
.container {
	@media (min-width: 1024px) and (max-width: 1279px) {
		&__items {
			h2 {
				font-size: 2.3rem;
			}

			p {
				font-size: 1.3rem;
			}
		}

		&__slider--content {
			.flacilities__items .items {
				p {
					font-size: 1.2rem;
					letter-spacing: 2px;
				}
			}
		}

		&__promotion--content .col-2 .col-2-top {
			padding: 20px;
		}

		&__promotion--content .col-2 .col-2-bettwen {
			padding: 0 5px;
		}

		&__promotion--content .col-2 .col-2-bottom {
			padding: 20px;
		}
	}

	@media (max-width: 1023px) {
		&__request--img {
			margin-bottom: 0px;
		}
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		&__items {
			padding: 30px 100px 30px 100px;
			text-align: center;
			img {
				margin: 0 auto 15px;
			}
		}

		&__slider {
			height: 1200px;
			&--content .items-0 {
				margin: 30px 0 30px 15px;
			}
		}

		&__transport--items {
			padding: 40px;
		}

		&__promotion {
			height: 900px;
			&--content .col-1 {
				padding: 0;
				margin-bottom: 30px;
				text-align: left;
			}
		}
	}

	@media (min-width: 600px) and (max-width: 767px) {
		&__items {
			padding: 30px;
			text-align: center;
			img {
				margin: 0 auto 15px;
			}
		}

		&__slider {
			height: 1300px;
			&--content .items-0 {
				margin: 30px 0 30px 30px;
			}
		}

		&__transport {
			flex-direction: column;
			&--items {
				padding: 30px;
				border: none;
			}
		}

		&__detail--number ul li {
			padding: 0px 25px;
		}

		&__promotion {
			height: 800px;
			.row {
				display: flex;
				flex-wrap: wrap;
				margin-left: -4px;
				margin-right: -4px;
			}

			.t-6 {
				flex: 0 0 45%;
				max-width: 45%;
			}
			.col {
				padding-left: 4px;
				padding-right: 4px;
			}


			&--content {
				.col-1 {
					text-align: left;
					padding: 0 0 30px 0;
				}

				.col-2 {
					.col-2-top {
						padding: 20px 20px 40px 20px;
					}

					.col-2-bettwen {
						padding: 0 20px 0px 20px;
					}

					.col-2-bottom {
						padding: 40px 20px 20px 20px;
					}

				}
			}



		}
	}

	@media (max-width: 599px) {
		&__items {
			padding: 30px 15px;
			text-align: center;
			img {
				margin: 0 auto 15px;
			}
		}

		&__slider {
			height: 1300px;
			&--content .items-0 {
				margin: 30px 0 30px 15px;
			}
		}

		&__transport {
			flex-direction: column;
			&--items {
				padding: 30px 15px;
				border: none;
			}
		}

		&__benefits {
			padding-top: 30px;
		}

		&__data {
			height: 700px;
		}

		&__detail {
			padding: 10px;
			&--title {
				padding-bottom: 30px;
				img {
					width: 40px;
					height: 40px;
				}

				h2 {
					font-size: 2.1rem;
					letter-spacing: 0;
				}
			}

			&--number ul {
				flex-direction: column;
				li {
					padding: 20px 45px;
				}
			}
		}

		&__price--items &__content--subtitle a {
			display: none;
		}

		&__promotion {
			height: 1400px;

			&--content {
				.col-1 {
					padding: 0 0 20px 0;

					h2 {
						font-size: 4.2rem;
					}

					p {
						font-size: 1.2rem;
						letter-spacing: 1px;
					}
				}
				.col-2 {
					margin-bottom: 30px;
				}
			}
		}
	}
}

// -------------------Footer-------------------
.footer {
	@media (min-width: 1024px) and (max-width: 1239px) {
		&__img-paralax {
			height: 700px;
		}
	}

	@media (max-width: 1023px) {
		&__heading {
			&-content {
				padding: 80px 30px;

				&-describle {
					margin-left: 0;
					padding-bottom: 40px;
				}

				&-search {
					width: 100%;
				}
			}
		}

		&__background > .row {
			justify-content: flex-start;
		}

		.col.l-6 {
			width: 100%;
		}
	}

	@media (min-width: 740px) and (max-width: 1023px) {
		&__heading-content-search {
			input {
				width: 100%;
			}

			button {
				padding: 14px 70px;
			}
		}

		&__background {
			margin-top: 70px;

			&-component-describle {
				p {
					font-size: 1.5rem;
					padding: 0 10px 25px 0;
				}
			}
		}

		&__img-paralax {
			height: 1300px;
		}
	}

	@media (max-width: 739px) {
		&__img-paralax {
			height: 1400px;
		}

		&__heading-content-search {
			display: block;
			button {
				width: 100%;
				margin-top: 10px;
				margin-left: 0;
			}

			input {
				width: 100%;
			}
		}

		&__background {
			margin-top: 100px;
			margin-left: 33px;
			width: 90%;
			padding: 45px 0px 50px 45px;

			&-component-describle {
				font-size: 1.5rem;
				padding: 0 10px 25px 0;
			}
		}

		&__background .col.c-12 {
			flex: 0 0 100%;
			max-width: 100%;
		}

		&__address {
			margin-left: 33px;
			width: 90%;
			&-text {
				display: block;
				text-align: center;
				height: auto;
				padding: 0;
				div {
					padding: 10px 0;
				}
			}
		}
	}

	@media (max-width: 440px) {
		.row {
			justify-content: center;
		}

		.header .row {
			justify-content: flex-start;
		}

		.c-12 {
			flex: 0 0 90%;
			max-width: 90%;
		}

		&__background {
			width: 83%;
		}

		&__img-paralax {
			height: 1550px;
		}
	}

	@media (max-width: 570px) {
		&__background {
			width: 85%;
		}

		&__address {
			width: 85%;
		}
	}

	@media (max-width: 330px) {
		&__background {
			width: 80%;
		}

		&__address {
			width: 80%;
		}
	}
}
